<h1>USER DETAILS</h1>
<ul>
  <li> Name: <%= @user.name %> </li>
  <li> Email: <%= @user.email %> </li>
  <% @current_user.venues.each do |venue| %>
  <li> Venue owned: <%= link_to venue.name, venue %> </li>
  <% end %>
</ul>
<%= link_to 'Edit Details', edit_user_path %>
