<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @facade.adVenues.each_with_index do |venue, n|%>
        <li data-target="#carouselExampleIndicators" data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="parent d-flex justify-content-center">
            <%= link_to image_tag(@facade.adVenues.first.image, :class => "d-block w-100 carousel_img" ), venue_path(@facade.adVenues.first.id)  %>
          </div>
        </div>
        <% @facade.adVenues.drop(1).each do |v|%>
          <div class="carousel-item">
              <div class="parent d-flex justify-content-center">
                <%= link_to image_tag(v.image, :class => "d-block w-100 carousel_img" ), venue_path(v.id) if v.image.present? %>
              </div>
          </div>
        <%end%>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<h2 class="title">All Venues</h2>

<% @facade.allVenues.each do |venue| %>
  <p> <%= link_to venue.name, venue_path(venue.id), :class => 'venues_link' %> | <%= venue.suburb%></p>
<% end %>
