@import url('https://fonts.googleapis.com/css2?family=Alata&family=Comic+Neue:wght@300&family=Indie+Flower&family=Major+Mono+Display&family=Pacifico&family=Sacramento&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

body {
  background-color: #E8DBC5;
}

.container {
  background-color: #2E3138;
  margin: 0 auto;
  padding: 7px;
  height: 100100%;
  position: relative;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 0px -7px 40px;
  text-align: left;
  background-image: url(/assets/home_page.jpg);
  height: 300px;
  background-size: cover;
  line-height: 300px;
  padding-left: 76px;
  color: #FFFFEA;
}

.heading_venue {
  height: 200px;
  line-height: 200px;
  background-color: #2E3138;
  background-image: url('/assets/venue_heading.jpeg');
}

.container_image{
  position: relative;
  text-align: center;
}

.message_home {
  margin-left: 0 auto;
  max-width: 600px;
  display: inline-block;
}

.very_difficult {
  position: absolute;
    top: 110px;
    left: 349px;
    max-width: 386px;
    text-align: justify;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
.container_logos {
  margin-top: 40px;
  text-align: center;
}
.logo_home {
  max-height: 10em;
  margin: 7px;
}

.title {
  font-family: 'Alata', sans-serif;
  color: #DADDD8;
  font-size: 35px;
  margin: 30px auto;
  text-align: left;
}

.title_dark {
  font-family: 'Alata', sans-serif;
  color: #2E3138;
  font-size: 35px;
  margin: 30px auto;
}

.carousel-inner {
  max-height: 300px;
}

.carousel {
  margin: -7px;
}


.logos_home {
  margin-top: 40px;
  display: inline;
  text-align: center;
  margin: auto;
}
.venue_image {
  max-width: 600px;
}

.image_container {
  margin: 20px auto 40px auto;
  text-align: center;
}
nav {
  height: 40px;
  text-align: left;
  margin: 5px;
}
nav a{
  height: 25px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  color: #DADDD8;
  border-radius: 3px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

nav a:hover {
  background-color: #E0CA3C;
  color: white;
  text-decoration: none;
}
.bottom_page {
  height: 40px;
  margin-top: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
}
.danger:hover {
  background-color: #990D35;
  color: white;
}
p {
  color: black;
}
.venues_link {
  text-decoration: none;
  color: #DADDD8;
  font-family: 'Major Mono Display', monospace;
}


a:hover{
  color: #E0CA3C;
  text-decoration: none;
}

.logo_show {
  max-width: 200px;
}

.venue_heading {
  position: relative;
  margin: -7px;
  padding-left: 15px;
  margin-top: 40px;
}

.venue_details {
  position: absolute;
  left: 220px;
  top: 5px;
  height: 135px;
  padding-left: 10px;
}
.logo_container {
  min-height: 130px;
}

.venue_details p {
  margin: 4px auto;
  color: #DADDD8;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.insta_logo {
  max-width: 30px;
}

.website_link {
  color: #DADDD8;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.menu {
  margin: 0 auto 40px;
  max-width: 800px;
  min-height: 400px;
  background-image: url('/assets/menu_background.jpeg');
  border-radius: 6px;
  background-size: cover;
  padding: 40px;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  color: #EEE5E9;
  position: relative;

}

.menu_show {
  text-align: left;
}
.menu li{
  list-style-type: none;
}
.menu h2{
  font-size: 65px;
}

.menu_link {
  color: #EEE5E9;
}

.reviews {
  text-align: center;
  padding-left: 10px;

}

.review_block {
  display: block;
  margin: 10px auto;
  background-color: #DADDD8;
  max-width: 900px;
  padding: 7px;
  font-family: 'Comic Neue', cursive;
}
.review_header {
  text-align: left;
  font-weight: bolder;
}
.message {
  text-align: center;
  font-style: italic;
}

.insert_review {
  max-width: 900px;
  background-color: #DADDD8;
  color: #2E3138;
  padding: 7px;
  margin: 0 auto;
  text-align: left;
}

.contain_btn {
  text-align: right;
}
.btn {
  background-color: #046E8F;
  border-color: #046E8F;
  color: white;
}
.btn:hover {
  background-color: #183446;
}

.admin_link {
  color: #046E8F;
}
.admin_link:hover {
  height: 30px;
  border-radius: 4px;
}
.menu_heading{
  height: 200px;
  margin: 40px -7px 40px;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
}
.logo_menu {
  max-height: 180px;
}

/* .menu_block {
  max-width: 800px;
  min-height: 700px;
  position: relative;
  padding: 20px;
  background-image: url('/assets/menu_background.jpeg');
  text-align: left;
  vertical-align: center;
  margin: 0 auto;
  background-size: cover;

} */
.img_menu img{
  position: absolute;
  right: 20px;
  top: 40px;
  max-width: 370px;
  max-height: 300px;
}
.menu p{
  max-width: 400px;
}

.form-group {
  color: #DADDD8;
}

.review_text {
  color: #2E3138;
}

.log_out {
  position: absolute;
  top: 5px;
  right: 5px;
}

.profile_block {
  margin: 15px auto;
  padding: 10px;
  max-width: 600px;
  background-color: #DADDD8;
  text-align: left;
  border-radius: 4px;
}
.profile_block li{
  list-style-type: none;
  text-align: left;
}
.heading_profile {
  background-color: #2E3138;
  margin: 0 -10px;
  width: 600px;
  height: 60px;
}

.venues_owned {
  background-color: #2E3138;
  margin: 0 -10px;
  width: 600px;
  height: 30px;
  padding-left: 10px;
}
.venues_owned p{
  color: #DADDD8;
}
.profile_links {
  color: #2E3138;
}
.center_link {
  text-align: center;
}
.edit_profile{
  background-color: #79ADDC;
  border-radius: 4px;
  border: none;
}

.edit_profile:hover {
  color: white;
  background-color: #EEC643;
}

.admin_view {
  max-width: 300px;
  display: inline-block;
  margin: 35px;
}
.title_small {
  font-family: 'Alata', sans-serif;
  color: #DADDD8;
  font-size: 20px;
  margin: 30px auto;
  text-align: left;
}
.heading_admin_view {
  background-color: #2E3138;
  margin: 0 -10px;
  width: 300px;
  height: 30px;
}

.error_message {
  width: 400px;
  padding: 7px;
  margin: 5px auto;
  background-color: #DADDD8;
  color: #EF6F6C;
  text-align: left;
  font-family: 'Alata', sans-serif;
}
.error_message li{
  list-style: none;
  margin-left: -40px;
}
